:host {
  .message-content {
    display: flex;
    flex-direction: column;

    .text {
      background-color: #D6EFFF;
      padding: 6px;
      white-space: pre-wrap;
      border-radius: 6px;
    }

    .link {
      align-self: end;
      margin-top: 7px;
    }

    .quick-replies {
      display: inline-flex;
      justify-content: flex-end;
      padding: 10px 0;
      gap: 10px;
    }

    &.bot {
      order: 1;
      align-self: end;

      .text {
        background-color: #F9F9F9;
      }
    }
  }
}
