<mat-list-item class="message" [class.reverse]="message?.isBot">
  <mat-icon
    color="primary"
    class="icon"
    [class.icon-right]="message?.isBot"
    mat-list-icon>
    {{ !message?.isBot ? 'person' : 'smart_toy' }}
  </mat-icon>
  <div mat-line class="name-wrapper" [class.reverse]="message?.isBot">
    <span class="name" [class.name-reverse]="message?.isBot">{{message?.author}}</span>
    <span class="time">{{message?.time | date}}</span>
  </div>
  <div class="text" [class.text-bot]="message?.isBot" mat-line>
    <span *ngIf="message?.text">{{ message?.text }}</span>
    <button *ngIf="message?.params" (click)="handleOpen(message?.params)" mat-raised-button color="accent">Open</button>
  </div>
</mat-list-item>
