.message {
  display: flex;
  flex-direction: row;

  &.reverse {
    flex-direction: row-reverse;
  }

  .name-wrapper {
    display: inline-flex;

    &.reverse {
      flex-direction: row-reverse;
    }

    .name {
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;

      &.name-reverse {
        align-self: end;
        margin-right: 0;
        margin-left: 10px;
      }
    }

    .time {
      font-size: 12px;
    }
  }

  .icon {
    align-self: start;

    &.icon-right {
      order: 3;
      margin-left: 15px;
    }
  }

  .text {
    background-color: #D6EFFF;
    padding: 6px;
    width: 60%;
    white-space: pre-wrap;
    border-radius: 6px;

    &.text-bot {
      background-color: #F9F9F9;
      order: 1;
      align-self: end;
    }
  }
}
