:host {
  position: absolute;
  right: 16px;

  .rating {
    display: inline-flex;
    flex-direction: column;

    .rate-icon {
      transform: scale(0.6);
      color: gainsboro;

      &.active {
        color: orange;
      }
    }
  }
}
