.chat {
  position: absolute;
  width: 500px;
  max-height: 700px;
  overflow: auto;
  bottom: 30px;
  right: 30px;

  .minimized {
    display: none;
  }

  .chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chat_minimize {
      cursor: pointer;
    }
  }

  .form-input {
    width: 100%;
  }
}
