<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [style.background]="tile.color">
    <mat-card class="example-card">
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
      <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
